<div class="main">
  <div class="header">
    <h2>World {{currentWorld.level}} - Level {{currentAdventure.level}}</h2>
    <p>{{currentAdventure.text}}</p>
  </div>

  <div class="content">
    <div *ngIf="currentAdventure.creature">
      <span>{{currentAdventure.creature.name}}</span>
      <mat-chip-list>
        <mat-chip *ngIf="! currentAdventure.creature.isDead()"> HP {{currentAdventure.creature.hp}} / {{currentAdventure.creature.hpMax}}</mat-chip>
        <mat-chip *ngIf="! currentAdventure.creature.isDead()"> MP {{currentAdventure.creature.mp}} / {{currentAdventure.creature.mpMax}}</mat-chip>
        <mat-chip *ngIf="! currentAdventure.creature.isDead()"> ATK {{currentAdventure.creature.atk}}</mat-chip>
      </mat-chip-list>

      <p *ngIf="currentAdventure.creature.isDead()"> is dead.</p>
    </div>

    <div *ngIf="currentAdventure.item">
      <span>{{currentAdventure.item.name}}</span>
    </div>
  </div>

  <div class="actions">
    <div *ngIf="! hero.isDead()">
      <button mat-raised-button *ngIf="canAttack()" (click)="act('Attack', currentAdventure)">
        <i class="icon icon-swords"></i> ATTACK
      </button>
      <button mat-raised-button *ngIf="canSpecialAttack()" (click)="act('SpecialAttack', currentAdventure)">
        <i matTooltip="Damages twice the ATK" class="icon icon-axes"></i> SPECIAL ATTACK
      </button>
      <button mat-raised-button *ngIf="canTake()" (click)="act('Take', currentAdventure)">
        <i class="icon icon-scroll"></i>TAKE
      </button>
      <button mat-raised-button color="primary" *ngIf="canNext()" (click)="act('Next', currentAdventure)">
        <i class="icon icon-banner"></i>CONTINUE
      </button>
    </div>
  </div>

</div>

<div *ngIf="showRewards">
  <app-reward [rewards]="currentWorld.rewards" (onChosen)="onChosen($event)"></app-reward>
</div>

<button *ngIf="hero.isDead()" mat-raised-button color="primary" routerLink="/" routerLinkActive="active">
  <i class="icon icon-sword"></i>YOU ARE DEAD
</button>
