<mat-card class="adventure">
  <mat-card-header>
    <mat-card-title>Level {{currentAdventure.level}}</mat-card-title>
    <mat-card-subtitle>{{currentAdventure.text}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="currentAdventure.creature">
      <span>{{currentAdventure.creature.name}}</span>
      <span *ngIf="! currentAdventure.creature.isDead()"> HP {{currentAdventure.creature.hp}} / {{currentAdventure.creature.hpMax}}</span>
      <span *ngIf="currentAdventure.creature.isDead()"> is dead.</span>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div>
      <button mat-raised-button *ngIf="canAttack()" (click)="act('Attack', currentAdventure)">
        <i class="material-icons">build</i> ATTACK
      </button>
      <button mat-raised-button color="primary" *ngIf="canNext()" (click)="act('Next', currentAdventure)">
        <i class="material-icons">done</i>CONTINUE
      </button>
    </div>
  </mat-card-actions>
</mat-card>
