<mat-card >
  <mat-card-header>
    <mat-card-title>{{item.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <span *ngIf="item.effect">
      <mat-chip-list>
        <mat-chip *ngIf="item.type === 'Health'">+ {{item.effect}} HP</mat-chip>
        <mat-chip *ngIf="item.type === 'Mana'">+ {{item.effect}} MP</mat-chip>
      </mat-chip-list>
    </span>
    <span *ngIf="item.atkModifier">
      <mat-chip-list>
        <mat-chip>+ {{item.atkModifier}} ATK</mat-chip>
      </mat-chip-list>
    </span>
  </mat-card-content>
  <mat-card-actions>
    <span *ngIf="item.effect">
      <button mat-button (click)="hero.usePotion(item)">Use</button>
    </span>
    <span *ngIf="item.atkModifier">
      <button mat-button (click)="hero.equipWeapon(item)">Equip</button>
    </span>
  </mat-card-actions>
</mat-card>
