<mat-grid-list cols="2" rowHeight="12em">

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="main">
      <mat-card-header>
        <div mat-card-avatar>
          <span class="icon-no-padding icon-helmet"></span>
        </div>
        <mat-card-title>{{hero.name}}</mat-card-title>
        <mat-card-subtitle>Knight</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="bar">
          <div class="hp-bar-filling" [ngStyle]="{'width': hero.hpInPercent()}"></div>
          <p>HP: {{hero.hp}}/{{hero.hpMax}}</p>
        </div>
        <div class="bar">
          <div class="mp-bar-filling" [ngStyle]="{'width': hero.mpInPercent()}"></div>
          <p>MP: {{hero.mp}}/{{hero.mpMax}}</p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Inventory</mat-panel-title>
        <mat-panel-description>
          <span *ngIf="hero.inventory.isEmpty()">Empty</span>
          <span *ngIf="! hero.inventory.isEmpty()">{{hero.inventory.getNumberOfItems()}} item(s)</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <ul *ngFor="let item of hero.inventory.getItems()">
         <li>
          {{item.name}}
          <span *ngIf="item.effect">
            <button mat-button (click)="hero.usePotion(item)">Use</button>
          </span>
         </li>
        </ul>
    </mat-expansion-panel>
  </mat-grid-tile>

</mat-grid-list>

<router-outlet></router-outlet>
