.bar {
  height: 2em;
  border: 1px solid black;
  position: relative;
  margin: .2em;
}

.hp-bar-filling {
  position: absolute;
  height: 2em;
  background-color: #ff4081;
}

.mp-bar-filling {
  position: absolute;
  height: 2em;
  background-color: #3f51b5;
}

.bar > p {
  position: absolute;
  line-height: 0;
  margin-left: 1em;
  color: #fff;
}
